<a href="https://colab.research.google.com/github/himanshugoyal77/DAV_LAB/blob/main/D11AD_Exp1_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Libraries**

In [1]:
!pip install numpy
!pip install scikit-learn

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [3]:
import pandas as pd
import sklearn.datasets as dataset

In [4]:
data = dataset.load_iris()
df = pd.DataFrame(data.data,columns=data.feature_names)

In [5]:
print(df.sample(n=10))

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
104                6.5               3.0                5.8               2.2
36                 5.5               3.5                1.3               0.2
81                 5.5               2.4                3.7               1.0
25                 5.0               3.0                1.6               0.2
103                6.3               2.9                5.6               1.8
30                 4.8               3.1                1.6               0.2
23                 5.1               3.3                1.7               0.5
20                 5.4               3.4                1.7               0.2
32                 5.2               4.1                1.5               0.1
132                6.4               2.8                5.6               2.2

**R Libraries**

In [ ]:
install.packages ("tidyverse")

In [1]:
library(dplyr)
library(tidyr)

library(tidyr)
n = 10
tidy_dataframe = data.frame(
                      S.No = c(1:n),
                    Group.1 = c(23, 345, 76, 212, 88,
                                199, 72, 35, 90, 265),
                    Group.2 = c(117, 89, 66, 334, 90,
                               101, 178, 233, 45, 200),
                    Group.3 = c(29, 101, 239, 289, 176,
                                320, 89, 109, 199, 56))

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
d <- data.frame(name = c("Abhi", "Bhavesh", "Chaman", "Dimri"),
				age = c(7, 5, 9, 16),
				ht = c(46, NA, NA, 69),
				school = c("yes", "yes", "no", "no"))

In [3]:
print(tidy_dataframe)

print(d)
rows_with_na <- d %>% filter(is.na(ht))

print(rows_with_na)

rows_without_na <- d %>% filter(!is.na(ht))
print(rows_without_na)

   S.No Group.1 Group.2 Group.3
1     1      23     117      29
2     2     345      89     101
3     3      76      66     239
4     4     212     334     289
5     5      88      90     176
6     6     199     101     320
7     7      72     178      89
8     8      35     233     109
9     9      90      45     199
10   10     265     200      56
     name age ht school
1    Abhi   7 46    yes
2 Bhavesh   5 NA    yes
3  Chaman   9 NA     no
4   Dimri  16 69     no
     name age ht school
1 Bhavesh   5 NA    yes
2  Chaman   9 NA     no
   name age ht school
1  Abhi   7 46    yes
2 Dimri  16 69     no